{
    "root": true,
    "plugins": [
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": 2 ,
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "no-var": "error",
      "prefer-const": "error"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
      "node": true,
      "es6": true,
      "jasmine": true
    }
}